body {
  background-color: black;
}
.header {
  font-size: 100px;
  color: white;
  text-align: center;
  font-family: fantasy;
}
.lives {
  color: white;
  text-align: center;
  font-size: 40px;
}

#memory {
  width: 1272px;
  margin: auto;
  display: flex;
  border: 1px dotted white;
}
#row1 {
  display: flex;
}
#row2 {
  display: flex;
}
#row3 {
  display: flex;
}

#card1 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/new size.png");
}
#card2 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/new size.png");
}
#card3 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/chew.png");
}
#card4 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/chew.png");
}
#card5 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (2).png");
}
#card6 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (2).png");
}
#card7 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (3).png");
}
#card8 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (3).png");
}
#card9 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (4).png");
}
#card10 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (4).png");
}
#card11 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (5).png");
}
#card12 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (5).png");
}
#card13 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (6).png");
}
#card14 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (6).png");
}
#card15 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (7).png");
}
#card16 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/Webp.net-resizeimage (7).png");
}
#card17 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/yoda.png");
}
#card18 {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 5px;
  background-image: url("assets/yoda.png");
}

#memory {
  display: flex;
  flex-wrap: wrap;
}
#winner {
  background-image: url("assets/OuSizUw.jpg");
  background-repeat: no-repeat;
}
#winner header {
  font-family: fantasy;
  text-align: center;
  font-size: 100px;
  color: gold;
  margin-top: 175px;
}
#newgame {
  border: 1px solid white;
  color: red;
  background-color: black;
  margin-left: 700px;
  font-size: 35px;
  margin-top: 650px;
}
#loser {
  background-image: url("assets/red-and-orange-solar-flare-73873.jpg");
  background-repeat: no-repeat;
}
#loser header {
  font-family: fantasy;
  text-align: center;
  font-size: 100px;
  color: black;
  margin-top: 175px;
}
#new-game {
  border: 1px solid white;
  color: red;
  background-color: black;
  margin-left: 700px;
  font-size: 35px;
  margin-top: 500px;
}
